@media (max-width: 576px) {
  .Container {
    width: 95% !important;
    max-width: 576px !important;
    user-select: none !important;
  }

  .DisplayNone-SM {
    display: none !important;
  }

  .DisplayBlock-SM {
    display: flex !important;
  }

  /* Start Lazy Loading Component Responsive */
  .CopyRight {
    bottom: 6rem !important;
  }
  /* End Lazy Loading Component Responsive */

  /* Start Section Footer Component Responsive */
  .Footer {
    padding-bottom: 8rem !important;
  }
  .FooterTopContent > ul {
    justify-content: flex-start !important;
  }
  .FooterTopContent > ul > li {
    justify-content: flex-start !important;
  }
  .FooterCenterContent > ul > li {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  /* Start Section Footer Component Responsive */

  /* Start Section Home Pages Responsive */

  /* End Section Home Pages Responsive */
}

@media (min-width: 577px) and (max-width: 768px) {
  .Container {
    width: 95% !important;
    max-width: 768px !important;
    user-select: none !important;
  }
  .DisplayNone-MD {
    display: none !important;
  }
  .DisplayBlock-MD {
    display: flex !important;
  }

  /* Start Section Footer Component Responsive */
  .Footer {
    padding-bottom: 8rem !important;
  }
  .FooterTopContent > ul {
    justify-content: flex-start !important;
  }
  .FooterTopContent > ul > li {
    justify-content: flex-start !important;
  }
  .FooterCenterContent > ul > li {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  /* End Section Footer Component Responsive */

  /* Start Section Home Pages Responsive */

  /* End Section Home Pages Responsive */
}

@media (min-width: 768px) and (max-width: 991px) {
  .Container {
    width: 95% !important;
    max-width: 991px;
    user-select: none !important;
  }

  .DisplayNone-LG {
    display: none !important;
  }

  .DisplayBlock-LG {
    display: flex !important;
  }

  /* Start Section Footer Component Responsive */
  .FooterTopContent > ul {
    justify-content: flex-start !important;
  }

  .FooterTopContent > ul > li {
    justify-content: flex-start !important;
  }

  .FooterCenterContent > ul > li {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  /* End Section Footer Component Responsive */

  /* Start Section Home Pages Responsive */

  /* End Section Home Pages Responsive */
}

@media (min-width: 992px) and (max-width: 1200px) {
  .Container {
    width: 90% !important;
    max-width: 1200px;
    user-select: none !important;
  }
  .DisplayNone-XL {
    display: none !important;
  }
  .DisplayBlock-XL {
    display: flex !important;
  }

  /* Start Section Home Pages Responsive */

  /* End Section Home Pages Responsive */
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .Container {
    width: 85%;
    max-width: 1400px;
    user-select: none !important;
  }
  .DisplayNone-XXL {
    display: none !important;
  }
  .DisplayBlock-XXL {
    display: flex !important;
  }

  /* Start Section Home Pages Responsive */

  /* End Section Home Pages Responsive */
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .Container {
    width: 80%;
    user-select: none !important;
  }
  .DisplayNone-XXXL {
    display: none !important;
  }
  .DisplayBlock-XXXL {
    display: flex !important;
  }

  /* Start Section Home Pages Responsive */

  /* End Section Home Pages Responsive */
}
