main {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  background-color: var(--white-color);
}

.BasketCart {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.BasketCartContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 2rem 0;
  gap: 1.5rem;
}

.HeadlineBasketCartContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0;
  gap: 0.85rem;
}

.HeadlineBasketCartContent h5 {
  font-size: 2rem;
  font-weight: 600;
}

.HeadlineBasketCartContent span {
  font-size: 0.85rem;
  font-weight: 400;
}

.NavigationBasketCartContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  gap: 0.85rem;
}

.NavigationBasketCartContent button {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
}

.Button-NavigationBasketCartContent {
  gap: 0.5rem;
  background-color: var(--bg-color);
  border: 0.05rem solid var(--border-color) !important;
}

.NavigationBasketCartContent > button > input[type='checkbox'] {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.1rem solid var(--primary-color);
}

.NavigationBasketCartContent p {
  color: var(--gray-700);
  font-size: 0.85rem;
  font-weight: 500;
}

.InputSearch-NavigationBasketCartContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 40%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}
.InputSearch-NavigationBasketCartContent input[type='text'] {
  padding: 0.5rem 1rem !important;
  font-size: 0.85rem !important;
}

.CheckAllDelete {
  background-color: var(--danger-color);
  font-weight: 500;
}

.ContainerCardBoxBasketCartContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.ContentCardBoxBasketCartContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  gap: 1rem;
}

.CardBoxBasketCartContent {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap !important;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: auto;
  min-height: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  border: 0.05rem solid var(--border-color);
  transition: all 0.25s ease-in-out;
  gap: 1rem;
}

.CardBoxBasketCartContent:hover {
  border: 0.05rem solid var(--primary-color);
  background-color: rgb(240, 243, 242, 0.5);
}

.CardBoxBasketCartContent > .CardBoxBasketCartContentTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.CheckBox-CardBoxBasketCartContentTop {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  border: 0.1rem solid var(--primary-color);
}

.CardBoxBasketCartContent > .CardBoxBasketCartContentTop > .Image-CardBoxBasketCartContentTop {
  display: flex;
  flex-direction: row;
  width: 7rem;
  max-width: 7rem;
  height: 7rem;
  max-height: 7rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  overflow: hidden;
}

.CardBoxBasketCartContent > .CardBoxBasketCartContentTop > .Image-CardBoxBasketCartContentTop img {
  width: 100%;
}

.CardBoxBasketCartContent
  > .CardBoxBasketCartContentTop
  > .Information-CardBoxBasketCartContentTop {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.CardBoxBasketCartContent
  > .CardBoxBasketCartContentTop
  > .Information-CardBoxBasketCartContentTop {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 0.85rem;
}

.CardBoxBasketCartContent
  > .CardBoxBasketCartContentTop
  > .Information-CardBoxBasketCartContentTop
  > li {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 0.35rem;
}

.CardBoxBasketCartContent
  > .CardBoxBasketCartContentTop
  > .Information-CardBoxBasketCartContentTop
  > li
  > h6 {
  font-size: 0.8rem;
  font-weight: 500;
}

.CardBoxBasketCartContent
  > .CardBoxBasketCartContentTop
  > .Information-CardBoxBasketCartContentTop
  > li
  > h5 {
  font-size: 0.95rem;
  font-weight: 700;
}

.CardBoxBasketCartContent > .CardBoxBasketCartContentBottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.CardBoxBasketCartContent > .CardBoxBasketCartContentBottom > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 1.15rem;
}

.CardBoxBasketCartContent > .CardBoxBasketCartContentBottom > ul > li {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.CardBoxBasketCartContent > .CardBoxBasketCartContentBottom > ul > li > p {
  font-size: 0.8rem;
  font-weight: 500;
}

.CardBoxBasketCartContent > .CardBoxBasketCartContentBottom > ul > li > button {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5rem 0.65rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.StatusColor {
  background-color: var(--success-color);
  transform: none !important;
  transition: none !important;
  cursor: default !important;
}

.ActionColor {
  background-color: var(--primary-color);
}

.TotalPrice {
  background-color: transparent !important;
  border: 0.05rem solid var(--border-color) !important;
  color: var(--gray-700);
  transform: none !important;
  transition: none !important;
  cursor: default !important;
  padding: 0.5rem 2rem !important;
  font-weight: 700 !important;
}

.InputQuantity-CardBoxCheckoutProduct {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity > input[type='number'] {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 3.5rem;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
  padding: 0.5rem 0;
  background-color: transparent;
  border-radius: 0;
  border-top: 0.05rem solid var(--border-color) !important;
  border-bottom: 0.05rem solid var(--border-color) !important;
  border: 0rem solid transparent;
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity .QuantityUp {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  font-size: 0.75rem;
  color: var(--gray-700);
  border-radius: 0.5rem 0 0 0.5rem;
  border: 0.05rem solid var(--border-color);
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity .QuantityDown {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  font-size: 0.75rem;
  color: var(--gray-700);
  border-radius: 0 0.5rem 0.5rem 0;
  border: 0.05rem solid var(--border-color);
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity button:focus,
.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity button:hover {
  background-color: var(--gray-200);
}

.InputQuantity-CardBoxCheckoutProduct
  > .FormInputQuantity
  input[type='number']::-webkit-outer-spin-button,
.InputQuantity-CardBoxCheckoutProduct
  > .FormInputQuantity
  input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity input[type='number']::-moz-appearance {
  appearance: none;
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity input[type='number']:focus {
  border: 0rem solid transparent;
  outline: none !important;
  box-shadow: none !important;
}

.RemoveButtonCardBoxBasketCartContent {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.25rem 0.65rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--danger-color);
}

.ProductNotFound {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  max-width: 100% !important;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.ProductNotFound > h6 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

.ProductEmpty {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.ProductEmpty > h6 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

.NavigationButtonShortCut {
  position: fixed !important;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 100%;
  height: auto;
  max-height: auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 1rem 1.5rem;
  background-color: var(--white-color);
  border: 0.05rem solid var(--border-color);
  border-radius: 1rem 1rem 0 0;
  gap: 1rem;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.NavigationButtonShortCut--absolute {
  position: fixed;
  bottom: 41.2rem !important;
  left: 50%;
  transform: translateX(-50%);
}

.NavigationButtonShortCut > button {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
}

.Button-NavigationBasketCartContent {
  gap: 0.5rem;
  background-color: var(--bg-color);
  border: 0.05rem solid var(--border-color) !important;
}

.NavigationButtonShortCut > button > input[type='checkbox'] {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.1rem solid var(--primary-color);
}

.NavigationButtonShortCut p {
  color: var(--gray-700);
  font-size: 0.85rem;
  font-weight: 500;
}

/* Start Section Modal Delet Confirm */
.ModalDeleteConfirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999 !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--white-color);
  border: 0.05 solid var(--border-color);
  border-radius: var(--border-radius-lg);
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.SlideToggleMenu-enter-active,
.SlideToggleMenu-leave-active {
  transition: all 0.5s ease-out;
}

.SlideToggleMenu-enter-from,
.SlideToggleMenu-leave-to {
  width: 0 !important;
  filter: blur(1rem);
  opacity: 0;
  transform: translate(-50%, 200%);
}

.ModalDeleteConfirm > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  gap: 1.5rem;
}

.ModalDeleteConfirm > ul > li {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0.5rem 0;
}

.ModalDeleteConfirm > ul > li > h5 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--black-color);
}

.ModalDeleteConfirm > ul > li > p {
  font-size: 0.95rem;
  font-weight: 400;
  color: var(--black-color);
  line-height: 1.5;
}

.ModalDeleteConfirm > ul > li > .ButtonCallToAction {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.ModalDeleteConfirm > ul > li > .ButtonCallToAction > button {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0.5rem 1.25rem;
  font-size: 0.85rem;
  border-radius: var(--border-radius-lg);
}

.ModalDeleteConfirm > ul > li > .ButtonCallToAction button:nth-child(1) {
  background-color: transparent;
  border: 0.05rem solid var(--border-color);
  color: var(--gray-700);
}

.ModalDeleteConfirm > ul > li > .ButtonCallToAction button:nth-child(2) {
  background-color: var(--danger-color) !important;
}

.ModalDeleteConfirm > ul > li > .ButtonCallToAction button:nth-child(2):hover {
  background-color: rgb(202, 29, 29) !important;
}
/* End Section Modal Delet Confirm */

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 576px  =============================== */
/* ================================================================================================== */

@media (max-width: 576px) {
  .BasketCart {
    padding: 4rem 0 0 0 !important;
  }

  .NavigationBasketCartContent {
    display: flex !important;
  }

  .CheckAllDelete {
    margin: 0 !important;
  }

  .InputSearch-NavigationBasketCartContent {
    max-width: 100% !important;
  }

  .ContentCardBoxBasketCartContent {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .CardBoxBasketCartContent > .CardBoxBasketCartContentBottom > ul {
    flex-direction: column !important;
  }

  .InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity > input[type='number'] {
    width: 100% !important;
    max-width: 100% !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 768px  =============================== */
/* ================================================================================================== */

@media (min-width: 577px) and (max-width: 768px) {
  .BasketCart {
    padding: 5rem 0 0 0 !important;
  }

  .NavigationBasketCartContent {
    display: flex !important;
  }

  .CheckAllDelete {
    margin: 0 !important;
  }

  .InputSearch-NavigationBasketCartContent {
    max-width: 100% !important;
  }

  .ContentCardBoxBasketCartContent {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .CardBoxBasketCartContent > .CardBoxBasketCartContentBottom > ul {
    flex-direction: column !important;
  }

  .InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity > input[type='number'] {
    width: 100% !important;
    max-width: 100% !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 991px  =============================== */
/* ================================================================================================== */

@media (min-width: 768px) and (max-width: 991px) {
  .NavigationBasketCartContent {
    display: flex !important;
  }

  .CheckAllDelete {
    margin: 0 !important;
  }

  .InputSearch-NavigationBasketCartContent {
    max-width: 100% !important;
  }

  .ContentCardBoxBasketCartContent {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .CardBoxBasketCartContent > .CardBoxBasketCartContentBottom > ul {
    flex-direction: column !important;
  }

  .InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity > input[type='number'] {
    width: 100% !important;
    max-width: 100% !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 1200px  =============================== */
/* ================================================================================================== */

@media (min-width: 992px) and (max-width: 1200px) {
  .CardBoxBasketCartContent > .CardBoxBasketCartContentBottom > ul {
    flex-direction: column !important;
  }

  .InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity > input[type='number'] {
    width: 100% !important;
    max-width: 100% !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 1400px  =============================== */
/* ================================================================================================== */

@media (min-width: 1201px) and (max-width: 1400px) {
  .CardBoxBasketCartContent > .CardBoxBasketCartContentBottom > ul {
    flex-direction: column !important;
  }

  .InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity > input[type='number'] {
    width: 100% !important;
    max-width: 100% !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 1600px  =============================== */
/* ================================================================================================== */

@media (min-width: 1401px) and (max-width: 1600px) {
  .CardBoxBasketCartContent > .CardBoxBasketCartContentBottom > ul {
    flex-direction: column !important;
  }
}
