/* Start Modal Basket Cart */
.ModalBasketCart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 100vw;
  height: 75%;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5rem;
  background-color: var(--white-color);
  border-radius: var(--border-radius-lg);
  transition: right 0.3s ease-in-out;
  box-sizing: border-box;
  z-index: 9999 !important;
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.SlideFadeToggleModalBasketCart-enter-active,
.SlideFadeToggleModalBasketCart-leave-active {
  transition: all 0.85s ease;
}

.SlideFadeToggleModalBasketCart-enter-from,
.SlideFadeToggleModalBasketCart-leave-to {
  width: 10%;
  opacity: 0;
  filter: blur(1rem);
  transform: translate(-50%, 150%);
}

.ContentCardModalBasketCart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 1rem;
  gap: 1.5rem;
}

.ContentHeading {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.ContentHeading > .HeadingContent-ModalBasketCart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  gap: 1.5rem;
}

.ContentHeading > .HeadingContent-ModalBasketCart > li:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.ContentHeading > .HeadingContent-ModalBasketCart > li:nth-child(1) h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gray-700);
}

.ContentHeading > .HeadingContent-ModalBasketCart > li:nth-child(1) p {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray-500);
  line-height: 1.5;
}

.ContentHeading > .HeadingContent-ModalBasketCart > li:nth-child(2) {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 10%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.ContentHeading > .HeadingContent-ModalBasketCart > li > span {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray-500);
  line-height: 1;
}

.ContentFormInputSearch {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.ContentFormInputSearch > form {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.ContentFormInputSearch > form > input {
  background-color: transparent;
}

.IconInputSearch {
  position: absolute;
  right: 1rem;
  color: var(--gray-400);
}

.ContentSelectHeadingContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  gap: 1.55rem;
}

.ContentSelectHeadingContent > .SelectLocation {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  overflow: auto !important;
}

.ContentSelectHeadingContent > .SelectLocation > h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-700);
}

.ContentSelectHeadingContent > .SelectLocation > button {
  background-color: transparent;
  color: var(--gray-700);
  border: 0.08rem solid var(--border-color);
  font-size: 0.8rem;
  font-weight: 500;
}

.ContainerCountry {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto !important;
  margin: 0 auto;
  padding: 0;
}

.ContentCountry {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  border-radius: var(--border-radius);
  padding: 0.65rem 0.5rem;
  box-shadow: none !important;
}

.ContentCountry:nth-child(odd) {
  background-color: var(--white-color);
}

.ContentCountry:nth-child(even) {
  background-color: var(--bg-color);
}

.NameCountry {
  display: flex;
  flex-direction: row;
  width: 50%;
  max-width: 50%;
  height: 100%;
  max-height: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.NameCountry > h6 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-700);
}

.ShippingCost {
  display: flex;
  flex-direction: row;
  width: 50%;
  max-width: 50%;
  height: 100%;
  max-height: 100%;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.ShippingCost {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-700);
}

/* Start Modal Basket Cart */
@media (max-width: 576px) {
  .ModalBasketCart {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 95vw !important;
    max-width: 95vw !important;
    height: 85vh !important;
    max-height: 85vh !important;
  }

  .ContentCardModalBasketCart {
    padding: 0.5rem !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .ModalBasketCart {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 95vw !important;
    max-width: 95vw !important;
    height: 85vh !important;
    max-height: 85vh !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ModalBasketCart {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 95vw !important;
    max-width: 95vw !important;
    height: 85vh !important;
    max-height: 85vh !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .ModalBasketCart {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 95vw !important;
    max-width: 95vw !important;
    height: 85vh !important;
    max-height: 85vh !important;
  }
}

@media (max-width: 1200px) {
  .SlideFadeToggleModalBasketCart-enter-active,
  .SlideFadeToggleModalBasketCart-leave-active {
    transition: all 0.65s ease !important;
  }

  .SlideFadeToggleModalBasketCart-enter-from {
    top: 100% !important;
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
    width: 55vw !important;
    max-width: 55vw !important;
    height: 58vh !important;
    max-height: 58vh !important;
    border-radius: 0 !important;
  }

  .SlideFadeToggleModalBasketCart-enter-to {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 95vw !important;
    max-width: 95vw !important;
    height: 85vh !important;
    max-height: 85vh !important;
    border-radius: var(--border-radius-lg) !important;
  }

  .SlideFadeToggleModalBasketCart-leave-from {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 90vw !important;
    max-width: 90vw !important;
    height: 95vh !important;
    max-height: 95vh !important;
    border-radius: var(--border-radius-lg) !important;
  }

  .SlideFadeToggleModalBasketCart-leave-to {
    top: 100% !important;
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
    width: 55vw !important;
    max-width: 55vw !important;
    height: 58vh !important;
    max-height: 58vh !important;
    border-radius: 0 !important;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  /* Null */
}

@media (min-width: 1400px) and (max-width: 1550px) {
  /* Null */
}
