main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  background-color: var(--white-color);
}

.SingleProduct {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.SingleProductContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 2rem 0;
  gap: 3.5rem;
}

.SingleProductTopContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: auto;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  gap: 1.5rem;
}

.diver {
  width: 100%;
  max-width: 100%;
  height: 0.1px;
  max-height: 0.1px;
  background-color: var(--gray-400);
  opacity: 0.35;
  margin: 1rem 0;
}

.LeftContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50%;
  height: auto;
  max-width: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.ImageLayout-LeftContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  gap: 1rem;
}

.PrimaryImage-LeftContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  border-radius: var(--border-radius-lg);
}

.BoxPrimaryImage-LeftContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 30rem;
  max-height: 30rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  border-radius: var(--border-radius-lg);
}

.ImagePrimaryImage-LeftContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  border-radius: var(--border-radius-lg);
}

.ImagePrimaryImage-LeftContent > img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.1s ease;
  transform-origin: center center;
}

.Thumbnail-LeftContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.BoxThumbnail-LeftContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0.25rem 0.25rem;
}

.ImageThumbnail-LeftContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  border-radius: var(--border-radius-lg);
  overflow: hidden !important;
}

.ImageThumbnail-LeftContent.active {
  outline: 0.1rem solid var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(10, 173, 10, 0.25);
}

.ImageThumbnail-LeftContent:hover {
  outline: 0.1rem solid var(--primary-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(10, 173, 10, 0.25) !important;
}

.ImageThumbnail-LeftContent img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.RightContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50%;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 0 2rem;
}

.InformationProduct-RightContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.InformationProduct-RightContent > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  gap: 1.5rem;
}

.InformationProduct-RightContent > ul > li {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  gap: 0.85rem;
}

.InformationProduct-RightContent > ul > li > .Content-ProductCategoty {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.InformationProduct-RightContent > ul > li > .Content-ProductName {
  font-size: 2.1875rem;
  font-weight: 600 !important;
}

.InformationProduct-RightContent > ul > li > .Container-ProductRating {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 0.75rem;
}

.InformationProduct-RightContent > ul > li > .Container-ProductRating > .Content-ProductRating {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 0.2rem;
}

.InformationProduct-RightContent
  > ul
  > li
  > .Container-ProductRating
  > .Content-ProductRating
  > span {
  width: 0.85rem;
  font-weight: 700;
  color: var(--warning-color);
}

.InformationProduct-RightContent
  > ul
  > li
  > .Container-ProductRating
  > .Content-ProductRating
  > span
  > small {
  color: var(--warning-color) !important;
  fill: var(--warning-color) !important;
  gap: 0.2rem !important;
}

.InformationProduct-RightContent > ul > li > .Container-ProductRating > p {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--gray-600);
}

.InformationProduct-RightContent > ul > li > .Content-ProductPrice {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.2125rem;
  gap: 0.5rem;
}

.InformationProduct-RightContent > ul > li > .Content-ProductPrice > .DiscountPrice {
  font-size: inherit;
  font-weight: 600 !important;
}

.InformationProduct-RightContent > ul > li > .Content-ProductPrice > .NormalPrice {
  font-size: inherit;
  font-weight: 600 !important;
  text-decoration: line-through var(--gray-400);
  color: var(--gray-500);
}

.InformationProduct-RightContent > ul > li > .Content-ProductPrice > .BadgeDiscount {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0.15rem 0.85rem;
  font-size: 0.8rem !important;
  font-weight: 700;
  color: var(--white-color);
  gap: 0.5rem;
  background-color: var(--danger-color);
  border-radius: var(--border-radius);
}

.InformationProduct-RightContent > ul > li > .Content-SelectWeightProduct {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.InformationProduct-RightContent > ul > li > .Content-SelectWeightProduct > button {
  background-color: transparent;
  border: 0.08rem solid var(--gray-400);
  color: var(--gray-600);
  padding: 0.7rem;
  font-size: 0.85rem;
  font-weight: 600;
}

.InformationProduct-RightContent > ul > li > .Content-SelectWeightProduct > button:hover {
  background-color: var(--gray-500);
  border: 0.08rem solid transparent !important;
  color: var(--white-color);
}

.InformationProduct-RightContent > ul > li > .Content-SelectWeightProduct > button:focus {
  background-color: var(--gray-500);
  border: 0.08rem solid transparent !important;
  color: var(--white-color);
}

.InputQuantity-CardBoxCheckoutProduct {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity > input[type='number'] {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 10rem;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
  padding: 0.5rem 0;
  background-color: transparent;
  border-radius: 0;
  border-top: 0.05rem solid var(--border-color) !important;
  border-bottom: 0.05rem solid var(--border-color) !important;
  border: 0rem solid transparent;
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity .QuantityUp {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  font-size: 0.75rem;
  color: var(--gray-700);
  border-radius: 0.5rem 0 0 0.5rem;
  border: 0.05rem solid var(--border-color);
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity .QuantityDown {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  font-size: 0.75rem;
  color: var(--gray-700);
  border-radius: 0 0.5rem 0.5rem 0;
  border: 0.05rem solid var(--border-color);
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity button:focus,
.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity button:hover {
  background-color: var(--gray-200);
}

.InputQuantity-CardBoxCheckoutProduct
  > .FormInputQuantity
  input[type='number']::-webkit-outer-spin-button,
.InputQuantity-CardBoxCheckoutProduct
  > .FormInputQuantity
  input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity input[type='number']::-moz-appearance {
  appearance: none;
}

.InputQuantity-CardBoxCheckoutProduct > .FormInputQuantity input[type='number']:focus {
  border: 0rem solid transparent;
  outline: none !important;
  box-shadow: none !important;
}

.InformationProduct-RightContent > ul > li > .Content-ButtonCallToAction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.InformationProduct-RightContent > ul > li > .Content-ButtonCallToAction > button {
  line-height: auto;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.7rem !important;
  font-size: 0.85rem;
  font-weight: 600;
}

.InformationProduct-RightContent > ul > li > .Content-ButtonCallToAction > .ButtonAddToCart {
  width: auto;
  max-width: auto;
  min-width: auto;
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  padding: 0.7rem 3.25rem !important;
  font-size: 0.85rem;
  font-weight: 600;
  background-color: var(--primary-color);
}

.InformationProduct-RightContent > ul > li > .Content-ButtonCallToAction > .ButtonShare {
  width: auto;
  max-width: auto;
  min-width: auto;
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  padding: 0.7rem 1rem !important;
  font-size: 0.85rem;
  font-weight: 600;
  background-color: var(--gray-200);
}

.IconButtonShare {
  fill: none;
  stroke-width: 0.05rem;
  color: var(--gray-600) !important ;
  stroke: var(--gray-600) !important;
  width: 1rem;
}

.ModalButtonShare {
  position: fixed;
  z-index: 9999 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  background-color: var(--white-color);
  border-radius: var(--border-radius-lg);
  -webkit-box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 90px -10px rgba(0, 0, 0, 0.25);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.ContentModalButtonShare {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.ContentModalButtonShare h5 {
  font-size: 1.15rem;
  font-weight: 600;
}

.ContentModalButtonShare > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.ContentModalButtonShare > ul > li {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0.5rem 0.9rem;
}

.ContentModalButtonShare > ul > li:hover {
  background-color: var(--gray-200);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.ContentModalButtonShare > ul > li > a {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black-color);
}

.ContentModalButtonShare button {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  background-color: var(--danger-color);
}

.InformationProduct-RightContent > ul > li > .Content-ButtonCallToAction > .ButtonWishlist {
  width: auto;
  max-width: auto;
  min-width: auto;
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  padding: 0.7rem 1rem !important;
  background-color: var(--gray-200);
  gap: 0.5rem;
}

.InformationProduct-RightContent > ul > li > .Content-ButtonCallToAction > .ButtonWishlist > h6 {
  font-size: 1rem !important;
  font-weight: 600 !important;
  line-height: 0 !important;
  color: var(--gray-600);
}

.IconButtonWishlist {
  fill: none;
  stroke-width: 0.1rem;
  stroke: var(--gray-600);
}

.IconButtonWishlist:hover,
.IconButtonWishlist:focus,
.IconButtonWishlist.clicked {
  fill: var(--danger-color);
  color: var(--danger-color);
  stroke: var(--danger-color);
}

.InformationProduct-RightContent > ul > li > .Content-SpecificationProduct {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: auto;
  max-width: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 4.5rem;
}

.InformationProduct-RightContent > ul > li > .Content-SpecificationProduct > .Question {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: auto;
  height: auto;
  max-width: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.InformationProduct-RightContent > ul > li > .Content-SpecificationProduct > .Question > span {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray-600);
}

.InformationProduct-RightContent > ul > li > .Content-SpecificationProduct > .Answer {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: auto;
  height: auto;
  max-width: auto;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.InformationProduct-RightContent > ul > li > .Content-SpecificationProduct > .Answer > span {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray-600);
}

.zoomable--zoomed .zoomable__img {
  transform: scale(var(--zoom, 2));
}

.BottomContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.ProductDetail-BottomContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.MainTabs {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 3.5rem !important;
  max-height: 3.5rem !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  background-color: var(--white-color);
  border-bottom: 0.05rem solid var(--gray-600);
  position: relative;
}

.MainTabs > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  gap: 2rem;
}

.MainTabs > ul > li {
  display: flex;
  flex-direction: row;
  width: auto;
  max-width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  gap: 3rem;
}

.MainTabs > ul > li > a {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 0.95rem;
  font-weight: 500;
  border-bottom: 0.15rem solid transparent;
  transition: all 0.25s ease-in-out;
}

.MainTabs > ul > li > a:hover {
  color: var(--primary-color) !important;
}

.MainTabs > ul > li > a.active {
  color: var(--primary-color) !important;
}

.active-marker {
  position: absolute;
  bottom: 0;
  height: 0.15rem;
  background-color: var(--primary-color);
  transition: all 0.25s ease-in-out;
}

.ContentProductDetail-BottomContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 2rem 0 0 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.25s ease-out;
}

.slide-left-enter-from {
  opacity: 0;
  transform: translateX(30px);
}

.slide-left-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.MainLoading {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100vw !important;
  max-width: 100vw !important;
  height: 100vh !important;
  max-height: 100vh !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  z-index: 9999 !important;
}

.MainLoading > .LoadingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.MainLoading > .LoadingContainer > .LoadingContent {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: auto;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: -15%;
  padding: 0;
  gap: 1rem;
}

.MainLoading > .LoadingContainer > .LoadingContent > h6 {
  font-size: 1.25rem;
  color: var(--gray-color);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.5s ease;
}
.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(100%);
  opacity: 0;
}
.slide-up-enter-to,
.slide-up-leave-from {
  transform: translateY(0%);
  opacity: 1;
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 576px  =============================== */
/* ================================================================================================== */

@media (max-width: 576px) {
  .SingleProduct {
    padding: 4rem 0 0 0 !important;
  }

  .SingleProductTopContent {
    flex-direction: column !important;
    gap: 2.5rem !important;
  }

  .LeftContent {
    max-width: 100%;
  }

  .RightContent {
    max-width: 100%;
    padding: 0 !important;
  }

  .InformationProduct-RightContent > ul > li > .Content-ProductName {
    font-size: 1.5rem !important;
  }

  .MainLoading > .LoadingContainer {
    margin-top: -50% !important;
  }

  .MainTabs > ul > li > a {
    font-size: 0.85rem !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 768px  =============================== */
/* ================================================================================================== */

@media (min-width: 577px) and (max-width: 768px) {
  .SingleProduct {
    padding: 5rem 0 0 0 !important;
  }

  .SingleProductTopContent {
    flex-direction: column !important;
    gap: 2.5rem !important;
  }

  .LeftContent {
    max-width: 100%;
  }

  .RightContent {
    max-width: 100%;
    padding: 0 !important;
  }
  .InformationProduct-RightContent > ul > li > .Content-ProductName {
    font-size: 1.85rem !important;
  }

  .MainTabs > ul > li > a {
    font-size: 0.85rem !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 991px  =============================== */
/* ================================================================================================== */

@media (min-width: 768px) and (max-width: 991px) {
  .SingleProductTopContent {
    flex-direction: column !important;
    gap: 2.5rem !important;
  }
  .LeftContent {
    max-width: 100%;
  }
  .RightContent {
    max-width: 100%;
    padding: 0 !important;
  }
  .InformationProduct-RightContent > ul > li > .Content-ProductName {
    font-size: 2.1875rem !important;
  }

  .MainTabs > ul > li > a {
    font-size: 0.85rem !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 1200px  =============================== */
/* ================================================================================================== */

@media (min-width: 992px) and (max-width: 1200px) {
  .InformationProduct-RightContent > ul > li > .Content-ProductName {
    font-size: 2.1875rem !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 1400px  =============================== */
/* ================================================================================================== */

@media (min-width: 1201px) and (max-width: 1400px) {
  .InformationProduct-RightContent > ul > li > .Content-ProductName {
    font-size: 2.1875rem !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 1600px  =============================== */
/* ================================================================================================== */

@media (min-width: 1401px) and (max-width: 1600px) {
  .InformationProduct-RightContent > ul > li > .Content-ProductName {
    font-size: 2.1875rem !important;
  }
}
