main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  background-color: var(--white-color);
}

.ProfileUser {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.ProfileUserContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 2rem 0;
  gap: 1rem;
}

.HeadlineProfileUserContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: auto;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0;
  gap: 0.85rem;
}

.HeadlineProfileUserContent h5 {
  font-size: 2rem;
  font-weight: 600;
}

.HeadlineProfileUserContent span {
  font-size: 1rem;
  font-weight: 400;
}

.HeadlineProfileUserContent span > a {
  font-size: 0.85rem;
  font-weight: 400;
  font-weight: 600;
}

/* Start Main Layout */
.MainLayoutProfileUser {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  background-color: var(--white-color);
  gap: 2rem;
}

.MainContentProfileUser {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  max-width: 85vw;
  height: 100%;
  max-height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.6s ease-in-out;
}

.slide-enter-from,
.slide-leave-to {
  transition: transform 0.65s ease-in-out;
  transform: translateX(-100%) !important;
}

.MainSidebarProfileUser {
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 15vw;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.MainSidebarProfileUser > ul {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  gap: 0.25rem;
}

.MainSidebarProfileUser > ul > li {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.MainSidebarProfileUser > ul > li > a {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  background-color: transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: var(--gray-600);
  font-size: 0.9rem;
  font-weight: 500;
}

.MainSidebarProfileUser > ul > li > a:hover {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
}

.Active {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
}

.MainSidebarProfileUser > ul > li > .Signout {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 0.085rem solid var(--danger-color);
  color: var(--danger-color) !important;
  cursor: pointer;
  color: var(--gray-600);
  font-size: 0.9rem;
  font-weight: 500;
}

.MainSidebarProfileUser > ul > li > .Signout:hover {
  background-color: var(--danger-color) !important;
  color: var(--white-color) !important;
}

/* End Main Layout */

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 576px  =============================== */
/* ================================================================================================== */

@media (max-width: 576px) {
  .ProfileUser {
    padding: 4rem 0 0 0 !important;
  }

  .MainLayoutProfileUser {
    flex-direction: column;
  }

  .MainContentProfileUser {
    max-width: 100vw !important;
  }

  .MainSidebarProfileUser {
    max-width: 100vw !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 768px  =============================== */
/* ================================================================================================== */

@media (min-width: 577px) and (max-width: 768px) {
  .MainLayoutProfileUser {
    flex-direction: column;
  }

  .MainContentProfileUser {
    max-width: 100vw !important;
  }

  .MainSidebarProfileUser {
    max-width: 100vw !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 991px  =============================== */
/* ================================================================================================== */

@media (min-width: 768px) and (max-width: 991px) {
  .MainLayoutProfileUser {
    flex-direction: column;
  }

  .MainContentProfileUser {
    max-width: 100vw !important;
  }

  .MainSidebarProfileUser {
    max-width: 100vw !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 1200px  =============================== */
/* ================================================================================================== */

@media (min-width: 992px) and (max-width: 1200px) {
  .MainLayoutProfileUser {
    flex-direction: column;
  }

  .MainContentProfileUser {
    max-width: 100vw !important;
  }

  .MainSidebarProfileUser {
    max-width: 100vw !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 1400px  =============================== */
/* ================================================================================================== */

@media (min-width: 1201px) and (max-width: 1400px) {
  .MainLayoutProfileUser {
    flex-direction: column;
  }

  .MainContentProfileUser {
    max-width: 100vw !important;
  }

  .MainSidebarProfileUser {
    max-width: 100vw !important;
  }
}

/* ================================================================================================== */
/* ===============================  T H I S  R E S P O N S I V E  M A X - W I D T H 1600px  =============================== */
/* ================================================================================================== */

@media (min-width: 1401px) and (max-width: 1600px) {
  .MainLayoutProfileUser {
    flex-direction: column;
  }

  .MainContentProfileUser {
    max-width: 100vw !important;
  }

  .MainSidebarProfileUser {
    max-width: 100vw !important;
  }
}
